{% load pwa %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offline</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    {% progressive_web_app_meta %}

</head>


<body class="text-bg-dark d-flex justify-content-center align-items-center vh-100">

    <div class="shadow rounded-3 bg-white p-4" style="width: 100%; max-width: 400px;">
        <div class="text-center text-dark mb-4">
            <i class="bi bi-wifi-off fs-1"></i>
            <h4>Você está offline</h4>
            <p>Não foi possível carregar os dados.<br>
                Verifique sua conexão com a internet.</p>
        </div>

        <button onclick="window.location.reload()" class="btn btn-dark w-100">
            Tentar novamente
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>