{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-4" style="max-width: 600px;">

    <h3 class="mb-4">Configurações da Conta</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- ALTERAR DADOS -->
    <div class="card mb-4">
        <div class="card-body">
            <h5>Dados da Conta</h5>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="update_profile">

                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" name="nome" class="form-control"
                           value="{{ request.user.first_name }}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control"
                           value="{{ request.user.email }}" required>
                </div>

                <button class="btn btn-dark">Salvar alterações</button>
            </form>
        </div>
    </div>

    <!-- ALTERAR SENHA -->
    <div class="card mb-4">
        <div class="card-body">
            <h5>Alterar Senha</h5>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="update_password">

                <div class="mb-3">
                    <input type="password" name="nova_senha"
                           class="form-control" placeholder="Nova senha" required>
                </div>

                <button class="btn btn-warning">Alterar senha</button>
            </form>
        </div>
    </div>

    <!-- EXCLUIR CONTA -->
    <div class="card border-danger">
        <div class="card-body">
            <h5 class="text-danger">Excluir Conta</h5>
            <form method="post"
                  onsubmit="return confirm('Tem certeza que deseja excluir sua conta?');">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="delete_account">

                <button class="btn btn-danger">
                    Excluir minha conta
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock %}