body {
    margin: 0;
}

.sidebar {
    position: fixed;
    inset: 0;
    background-color: #212529;
    z-index: 1030;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.show {
    transform: translateX(0);
}

main {
    max-width: 100vw;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .sidebar {
        position: relative;
        transform: translateX(0);
        width: 250px;
        height: 100vh;
        inset: unset;
    }
}